* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    --white: #fff5d2;
    --black: #232020;
}

.app {
    position: relative;
    width: 100%;
    height: 100dvh;
    background: var(--black);

    .backImageBlock {
        width: 100%;
        height: 100%;
        /* filter: blur(5px) grayscale(10%); */
        background: var(--black);

        .backImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* animation: imageAni 5s linear 0s ease infinite alternate;
            -webkit-animation: imageAni 5s linear 0s ease infinite alternate;
            -moz-animation: imageAni 5s linear 0s ease infinite alternate; */
            animation-name: image-ani;
            animation-duration: 60s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0px 0px 150px 5px var(--black) inset;
        }

    }

    .loadingMask {
        width: 100%;
        height: 100%;
        background: var(--black);;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & > div:first-child {
            width: 0%;
            height: 1px;
            background: var(--white);
        }

        & > div:last-child {
            display: flex;
            justify-content: center;

            & > div {
                font-size: 2.5rem;
                color: var(--white);
            }
        }
    }
}

@keyframes image-ani {
    from {
        object-position: center top;
    }

    to {
        object-position: center bottom;
    }
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
}
